[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/blaztoma/pitono-pamokos/blob/main/lectures/03%20-%20Output/Output.ipynb)

# Output to Console

A computer can answer many of our questions about what we want to learn from a program. To do this, it must communicate - present information to humans in one way or another. Now we will learn to make the computer communicate in the simplest way, by outputting information to the console.

In Python, the `print()` function is used for this purpose. The message to be printed must be enclosed in single or double quotes. Example:

In [ ]:
print('Text string')

Text string

If we use double quotes - this will give the same result.

In [ ]:
print("Text string")

Text string

You might ask - why is this necessary!? Well, for those cases when quotes are part of the text:

In [ ]:
print("The computer wrote: 'Good morning!'")

The computer wrote: 'Good morning!'

When using the `print()` function a second time, the text will be output on a new line:

In [ ]:
print('First line of text')
print('Second line of text')

First line of text
Second line of text

If we want to simply skip one line, we need to print an empty line like this:

In [ ]:
print('First line of text')
print()  # prints an empty line
print('Another line of text')

First line of text

Another line of text

We can also split into lines using the special character `\n`, which moves the text output to a new line.

In [ ]:
print("First line\nSecond line\nThird line")

First line
Second line
Third line

To highlight or beautify text, we can use various ASCII characters.

In [ ]:
print("#=========================#=======#")
print("# Item Name               # Price #")
print("#=========================#=======#")

#=========================#=======#
# Item Name               # Price #
#=========================#=======#

We can join different texts by separating them with commas or using the plus sign (`+`):

In [ ]:
print("Combined first and", "second text parts.")
print("Combined first and " + "second text parts.")

Combined first and second text parts.
Combined first and second text parts.

Note that when separating with a comma, you don't need to leave an empty space.

If we want to format lines as we write them, we can use triple quotes. Look at the example of how they are used:

In [1]:
print("""
Roses are red,
Violets are blue,
Python is awesome,
And so are you!
""")

Roses are red,
Violets are blue,
Python is awesome,
And so are you!

# Tasks

Complete the tasks below and evaluate the results yourself. Try to use various string output methods.

## Task 1

On the first line, output your name and age. On the second line, output why you decided to try programming.

In [ ]:
# Write your code here, below this line...

## Task 2

Output this text:
```
*
**
***
```

In [ ]:
# Write your code here, below this line...

## Task 3

Output a poem of at least 5 lines.

In [ ]:
# Write your code here, below this line...

## Task 4

Output this table:
```
+--------+--------+
| Name   | Age    |
+--------+--------+
| Tom    | 24     |
| John   | 26     |
| Jane   | 25     |
+--------+--------+
```

In [ ]:
# Write your code here, below this line...