[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/blaztoma/pitono-pamokos/blob/main/ivedimas/Ivedimas.ipynb)

# Įvedimas iš konsolės

Vienas iš būdų, kaip įvesti duomenis programai - paprašyti naudotojo, kad konsolėje suvestų reikalingą informaciją. Tam naudojama `input()` funkcija.

Kai prašymas įvesti informaciją išvedamas atskirai:

In [1]:
print('Įveskite vardą:')
vardas = input()
print(vardas)

Įveskite vardą:
Tomas
Tomas

Kai prašymas įvesti informaciją išvedamas kartu:

In [2]:
vardas = input('Įveskite vardą:')
print(vardas)

Įveskite vardą:Tomas
Tomas

Kokio tipo informaciją gauname iš `input`?

In [1]:
print('Įveskite kokį nors skaičių:')
skaicius = input()

print('Įvesta:', skaicius, type(skaicius))

Įveskite kokį nors skaičių:
Įvesta: 56 <class 'str'>

Gauname skaičių iš prieš tai įvykusios įvesties:

In [2]:
skaicius = int(skaicius)
print('Iškonvertuota:', skaicius, type(skaicius))

Iškonvertuota: 56 <class 'int'>

Skaičiaus įvestį galime įgyvendinti ir per vieną eilutę:

In [5]:
skaicius = int(input('Įveskite sveiką skaičių:'))
print(skaicius)

Įveskite sveiką skaičių:20
20

Kai norime gauti įvestą slankaus kablelio skaičių:

In [6]:
skaicius = float(input('Įveskite skaičių:'))
print(skaicius)

Įveskite sveiką skaičių:10.5
10.5

F-eilučių prisiminimui įvesime du skaičius atskirose eilutėse ir juos sudėsime:

In [4]:
skaicius_1 = input('Įveskite pirmą skaičių')
skaicius_2 = input('Įveskite antrą skaičių')
print(f'{skaicius_1} + {skaicius_2} = {skaicius_1 + skaicius_2}')

9 + 8 = 98

Atkreipkite dėmesį į tai kad praeitame pavyzdyje gauta įvestis yra `str` tipo, todėl sudėtis (`+`) atliko teksto sudėtį, o ne matematinę sudėtį. Tai ištaisyti būtų galima taip:

In [3]:
skaicius_1 = int(input('Įveskite pirmą skaičių'))
skaicius_2 = int(input('Įveskite antrą skaičių'))
print(f'{skaicius_1} + {skaicius_2} = {skaicius_1 + skaicius_2}')

9 + 8 = 17

Arba taip:

In [6]:
skaicius_1 = input('Įveskite pirmą skaičių')
skaicius_2 = input('Įveskite antrą skaičių')
print(f'{skaicius_1} + {skaicius_2} = {int(skaicius_1) + int(skaicius_2)}')

9 + 8 = 17

Šį kartą įvesime tuos du skaičius vienoje eilutėje:

In [7]:
print('Įveskite du skaičius atskirdami tarpu:')
skaicius_1, skaicius_2 = input().split()
print(f'{skaicius_1} + {skaicius_2} = {int(skaicius_1) + int(skaicius_2)}')

Įveskite du skaičius atskirdami tarpu:
5 + 8 = 13

Galima ir taip:

In [12]:
print('Įveskite du skaičius (atskiriant enter paspaudimu):')
pirmas = int(input())
antras = int(input())

suma = pirmas + antras
print('skaičių suma:', suma)

Įveskite du skaičius (atskiriant enter paspaudimu):
skaičių suma: 13

Daugiau įvesties:

In [13]:
vardas = input('Įveskite vardą: ')
amzius = int( input('Įveskite amžių: ') )

print('Įvesta informacija:')
print(vardas, type(vardas))
print(amzius, type(amzius))

Įvesta informacija:
Ieva <class 'str'>
20 <class 'int'>

## Užduotys

### Užduotis 1

Paprašykite naudotojo įvesti savo vardą, amžių ir kodėl panoro išmokti Pitoną. Įvestą informaciją išveskite tvarkingai, vienu sakiniu ar atskirose eilutėse su prierašais.

In [ ]:
# Kodą rašykite čia...

### Užduotis 2

Paprašykite vartotojo įvesti norimą simbolį. Iš šio simbolio atspausdinkite laiptus. Pvz.:

```
*
**
***
```

In [ ]:
# Kodą rašykite čia...

### Užduotis 3

Paprašykite vartotojo įvesti norimą simbolį. Iš šio simbolio atspausdinkite inicialus. Pvz.:
```
*** *
 *  *
 *  ***
```

Užduočiai atlikti galite naudoti daugelio eilučių išvedimą.

In [ ]:
# Kodą rašykite čia...

### Užduotis 4

Paprašykite vartotojo įvesti vardą, amžių, ūgį (metais) (nepamirškite ką reikia iškonvertuoti iš `str` į `int` ar `float`). Išveskite gautus duomenis ir jų tipus.

In [ ]:
# Kodą rašykite čia...

### Užduotis 5

Leiskite naudotojui įvesti metrus. Išveskite kiek tai gaunasi centimetrais, milimetrais ir kilometrais.

In [ ]:
# Kodą rašykite čia...

### Užduotis 6

Vienoje eilutėje įveskite vardą, pavardę ir amžių. Išveskite informaciją vienu sakiniu.

In [14]:
# Kodą rašykite čia...

### Užduotis 7

Paprašykite vartotojo įvesti 5-is savo pažymius vienoje eilutėje. Paskaičiuokite pažymių vidurkį. Išveskite atsakymą.

In [ ]:
# Kodą rašykite čia...

### Užduotis 8

Leiskite vartotojui įvesti du skaičius. Išveskite šių skaičių sudėtį, skirtumą, sandaugą ir dalmenį.

In [ ]:
# Kodą rašykite čia...

### Užduotis 9

Leiskite vartotojui įvesti du norimus skaičius. Išveskite kokia gaunasi liekana padalinus vieną skaičių iš kito.

In [ ]:
# Kodą rašykite čia...

### Užduotis 10

Leiskite vartotojui įvesti du skaičius. Išveskite kiek gautųsi vieną skaičių pakėlus kito skaičiaus laipsniu (pvz, pirmas skaičius eina už pagrindą, o antras skaičius yra laipsnis, kuriuo ir keliame).

In [ ]:
# Kodą rašykite čia...