[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/blaztoma/pitono-pamokos/blob/main/lectures/04%20-%20Numbers%20and%20math%20-%201%20part/Numbers_and_math.ipynb)

# Numbers and Mathematics

## Basic Number Types

int (integer)      | float (floating point)
-------------------|------------------
8 | 8.5
10 | 10.0
-5 | -5.5

Note that to show Python that a variable is of float type, we must write the number with a decimal point, even if it doesn't have a fractional part.

## Mathematical Operators

Operator	| Name | Example | Explanation
------------|-------------|----------|-------------
`+` | Addition | `5 + 3` | Adds `5` and `3`
`-` | Subtraction | `5 - 3` | Subtracts `3` from `5`
`*` | Multiplication | `5 * 3` | Multiplies `5` by `3`
`/` | Division | `5 / 3` | Divides `5` by `3`
`**` | Exponentiation | `5 ** 3` | Raises `5` to the power of `3`
`%` | Modulo | `5 % 3` | Remainder (result: 2)
`//` | Floor Division | `5 // 3` | Integer division (result: 1)

## Examples

### Number Output

In [1]:
print(12)
print(5)
print(8.2)

12
5
8.2

### Simple Integer Operations

In [2]:
print(7 + 8)
print(2 * 4)
print(5 - 1)
print(7 / 3)

15
8
4
2.3333333333333335

### Simple Float Operations

In [ ]:
print(5.2 + 1.4)
print(8 - 1.5)
print(1 / 2)
print(1 / 3)

### Exponentiation

In [3]:
print(2 ** 3)
print(4 ** 8)
print(49 ** 0.5)

8
65536
7.0

### Modulo Operation

In [4]:
print(10 % 3)
print(25 % 4)
print(13 % 2)
print(16 % 2)
print(8 % 2)

1
1
1
0
0

### Division and Floor Division

In [ ]:
print(10 / 3)
print(10 // 3)
print(6 / 7)
print(6 // 7)

### Order of Operations

In [7]:
print(1 + 2 * 5 / 3)
print( (1 + 2) * 5 / 3 )

4.333333333333334
5.0

### What Type?

To see what number type Python will determine, you need to use the `type()` function. First try to guess the type, then run the program.

In [9]:
print(type(5))
print(type(5.0))
print(type(5 * 3))
print(type(5 / 3))
print(type(5 // 3))
print(type(5 ** 3))
print(type(5 % 3))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'int'>

## Tasks

### Task 1

Output the numbers `15`, `12`, `-9`, and `5.8` on separate lines.

In [ ]:
# Write your code here...

### Task 2

Output the results of these mathematical operations:

* 78 * 2
* 5 + 3
* 7 / 2
* 85 - 32

In [ ]:
# Write your code here...

### Task 3

Output the results of these mathematical operations:
* 5.2 * 3
* 9.4 * 0.5
* 4.2 / 2

In [ ]:
# Write your code here...

### Task 4

Output the results of these mathematical operations:
* 7 + 2 * 3
* (7 + 2) * 3
* 52 + 74 + 32
* 87 - 65 + 14
* 79 / (5 - 2)

In [ ]:
# Write your code here...

### Task 5

Calculate and output these results (using the `**` operator):
* number 2 raised to the 4th power
* number 8 raised to the 3rd power
* number 14 raised to the 0.5 power

In [ ]:
# Write your code here...

### Task 6

Find the remainders when dividing 10 by smaller numbers (using the `%` operator). That is (10 % 1, 10 % 2, etc.).

In [ ]:
# Write your code here...

### Task 7

Perform floor division (using the `//` operator) with these numbers:
* 5 // 2
* 6 // 3
* 6 // 4
* 80 // 3
* 45 // 4
* 45 // 3

In [ ]:
# Write your code here...

### Task 8

Determine the data types (use `type()`) for these cases:
* if the number is 6
* if the number is 2.5
* if the number is 157
* if the number is -8.2
* if there is division 2 / 5
* if there is addition 8 + 9
* if there is addition 8.5 + 3

In [ ]:
# Write your code here...