[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/blaztoma/pitono-pamokos/blob/main/kintamieji/Kintamieji.ipynb)

#Sąrašai

##Kas yra sąrašai?
Programuojant dažnai tenka dirbti su duomenų rinkiniais. Pitonas - viena patogiausių kalbų tokiems dalykams. Sąrašas yra viena iš daugelio integruotų Pitono duomenų struktūrų, leidžiančių dirbti su duomenų rinkiniu nuoseklia tvarka.

Tarkime, norime sudaryti studentų sąrašą:
* Tomas
* Rimas
* Rima
* Sigita

Pitono programoje galime sukurti kintamąjį, pavadintą `studentai` ir jam priskirti visus šiuos vardus:

In [1]:
studentai = ["Tomas", "Rimas", "Rima", "Sigita"]
print(studentai)

['Tomas', 'Rimas', 'Rima', 'Sigita']

Ar pastebėjote šiuos, su sąrašu susijusius dalykus:
* sąrašas pradedamas simboliu `[` ir baigiamas `]`;
* sąrašo elementai atskiriami kableliu (jokie kiti skirtukai netinka);
* po kablelio paprastai padedamas tarpas lengvesniam programos skaitomumui (bet veiks ir be jo).

##Sąrašo elementų tipai
Gali kilti klausimas: ką mes galime patalpinti sąraše. Ogi - daug ką! Matėte pavyzdį su eilutėmis, tačiau sąraše galime talpinti bet kurio Pitono tipo elementą.

Štai taip atrodo `int` tipo sąrašas. Tebūnie tai bus studentų krepšininkų ūgiai:

In [3]:
studentu_ugiai = [180, 215, 205, 195]
print(studentu_ugiai)

[180, 215, 205, 195]

Skirtingai nuo kai kurių kitų programavimo kalbų - skirtingus tipus galime talpinti viename sąraše. Paimkime ir padarykime iš studentų vardų ir jų ūgių vieną sąrašą:

In [4]:
studentai = ["Tomas", 180, "Rimas", 215, "Rima", 205, "Sigita", 195]
print(studentai)

['Tomas', 180, 'Rimas', 215, 'Rima', 205, 'Sigita', 195]

##Tušti sąrašai
Dažniausiai programoje nebūna surašytų duomenų. Duomenys kaupiami atskiruose failuose, duomenų bazėse, interneto serveriuose. Tol kol jie bus užkrauti, mes galime apibrėžti tuščią sąrašą, kuris neturi nei vieno elemento.

In [ ]:
studentai = []

##Sąrašo metodai
Sąrašas Pitone yra Objektas, kuris sukurtas iš atitinkamos klasės. Neišsigąskite, jei nežinote - apie tai mokysimės daug vėliau. Esmė ta, kad sąrašas turi operacijas, kurios vadinamos metodais. Tos operacijos mums leidžia tvarkyti sąrašo elementus. Beje, terminus `metodas` ir `operacija` čia naudosime kaip sinonimus, tačiau jei norite būti visiškai tikslūs - naudokite terminą `metodas`.

###Elementų prijungimas naudojant append() metodą ir pliusą
`append()` operacija leidžia prijungti elementą prie sąrašo galo. Sakykime, kad turime pradinį studentų vardų sąrašą (Tomas, Rimas, Rima, Sigita) ir prie jo norime prijungti naują studentą vardu Petras. Tuomet darysime šitaip:

In [5]:
studentai = ["Tomas", "Rimas", "Rima", "Sigita"]
studentai.append("Petras")
print(studentai)

['Tomas', 'Rimas', 'Rima', 'Sigita', 'Petras']

Dabar galime aptarti sintaksę. Norint panaudoti sąrašo operaciją, pirmiausiai užrašomas sąrašo kintamojo pavadinimas (studentai šiuo atveju). Tuomet dedamas taškas ir po jo užrašomas metodo pavadinimas. Po jo dedami skliausteliai, kuriuose galime pateikti reikalingus duomenis.

Dabar įsivaizduokite situaciją, kad jums reikia pridėti, ne vieną studentą, bet visą jų grupę. Būtų labai liūdna, jei tai reikėtų daryti naudojant `append()` metodą - labai daug tekų rašyti. Laimei - prie sąrašo mes galime prijungti kitą sąrašą pasinaudodami pliuso (`+`) operacija:

In [6]:
studentai = ["Tomas", "Rimas", "Rima", "Sigita"]
studentai += ["Petras", "Antanas", "Nijolė"]
print(studentai)

['Tomas', 'Rimas', 'Rima', 'Sigita', 'Petras', 'Antanas', 'Nijolė']

Čia pridėjome visą sąrašą, tačiau tokiu pat būdu galime pridėti ir vieną vienintelį elementą. Tik nepamirškite naudoti sąrašą žyminčių skliaustelių (pvz., `studentai += ["Marytė"]`).

###Sąrašo elementų gavimas naudojant indeksus
Pitonas susinumeruoja mūsų sąrašo elementus ir mes tuos elementus galime pasiekti naudodami jų numerius. Pavyzdžiui, mūsų pradinį studentų sąrašą Pitonas susinumeruos taip:

| Elementas | Indeksas
|-----------|---------
| Tomas | 0
| Rimas | 1
| Rima | 2
| Sigita | 3

Įdomus dalykas! Kaip matote, Pitonas numeruoja žmones ir kitus elementus nuo `0`. Taip jau yra - daugelis kalbų kažkodėl taip daro...

Taigi, pamėginkime atspausdinti antrą studentų sąrašo elementą:

In [7]:
studentai = ["Tomas", "Rimas", "Rima", "Sigita"]
print(studentai[1])

Rimas

Ar pastebėjote, kad norėdami atspausdinti antrą elementą turėjome nurodyti pirmą (`1`) indeksą. Taip, taip - čia dėl to, kad elementai numeruojami (kitaip sakant - indeksuojami) nuo `0`.

Dėl šito ar kito dalyko kartais galime ir apsirinkti. Pasižiūrėkime, kaip reaguos mūsų Pitonas:

In [8]:
studentai = ["Tomas", "Rimas", "Rima", "Sigita"]
print(studentai[4])

IndexError: ignored

Matote, klaidos tipas yra `IndexError`, o klaidos apibūdinimas: `list out of range` arba "nepatenka į sąrašo intervalą". Tai pamačius, mes jau žinosime kur klaida.

Šį kartą, eksperimentuodami, mes viršijome sąrašo ribą. O kas atsitiktų, jei mes tą ribą peržengtume į kitą pusę, tai yra - parinktume neigiamą indeksą. Turbūt turėtų būti ta pati IndexError klaida!?

In [9]:
studentai = ["Tomas", "Rimas", "Rima", "Sigita"]
print(studentai[-1])

Sigita

Ogi, pasirodo, kad ne! Keistas sutvėrimas tas Pitonas - jis paėmė paskutinį elementą. Pasirodo, Pitone galime susinumeruoti ir atvirkštine tvarka :) Na, o mūsų studentų sąrašo indeksai bus tokie:

| Elementas | Indeksas | Neigiamas indeksas
|-----------|--------- |-------------------
| Tomas | 0 | -4
| Rimas | 1 | -3
| Rima | 2 | -2
| Sigita | 3 | -1

###Sąrašo elementų keitimas
Sąrašo elemento pakeitimas yra paprastas. Tereikia išrinkti keičiamą elementą panaudojus jo indeksą ir priskirti naują reikšmę:

In [10]:
studentai = ["Tomas", "Rimas", "Rima", "Sigita"]
studentai[1] = "Antanas"
print(studentai)

['Tomas', 'Antanas', 'Rima', 'Sigita']

###Sąrašo elemento pašalinimas
Įsivaizduokite, kad įvyko didelė nelaimė ir studentas Tomas iškrito iš universiteto neišlaikęs matematikos egzamino! Tuomet mes jį galime pašalinti ir iš sąrašo, panaudodami metodą `remove()`:

In [12]:
studentai = ["Tomas", "Rimas", "Rima", "Sigita"]
studentai.remove("Tomas")
print(studentai)

['Rimas', 'Rima', 'Sigita']

O kas bus, jei bus du Tomai?

In [13]:
studentai = ["Tomas", "Rimas", "Rima", "Tomas"]
studentai.remove("Tomas")
print(studentai)

['Rimas', 'Rima', 'Tomas']

Aha, pašalino tik pirmąjį Tomą. Norite pašalinti antrąjį, nepašalinę pirmojo Tomo? Tuomet teks pasinaudoti viena iš daugelio sąrašų tvarkymo funkcijų `del()`:

In [14]:
studentai = ["Tomas", "Rimas", "Rima", "Tomas"]
del(studentai[-1])
print(studentai)

['Tomas', 'Rimas', 'Rima']

Matote - čia pašalinimui jau panaudojome indeksą. Yra ir daugiau patogių operacijų - mes dar prie jų prieisime.

##Dvimačiai sąrašai

Mes jau turėjome studentų ir jų ūgių sąrašą. Jo mums užtenka, kad galėtume tvarkyti studentų ūgius:

In [15]:
studentai = ["Tomas", 180, "Rimas", 215, "Rima", 205, "Sigita", 195]
print(studentai[5])

205

Bet, įsivaizduokite, jei norėsime gauti trečio studento ūgį, turėsime naudoti indeksą `5`. Tai labai nepatogu. Daug geriau studentus ir jų ūgius numeruoti tuo pačiu indeksu. Taip išvengsime neatidumo klaidų.

Pitone, kaip ir daugelyje kitų kalbų, tai daroma tokiu būdu:

In [17]:
studentai = [["Tomas", 180], ["Rimas", 215], ["Rima", 205], ["Sigita", 195]]
print(studentai[2], studentai[3])

['Rima', 205] ['Sigita', 195]

Matote - taip daug paprasčiau :) Ką padarėme - tai kiekvieno studento duomenis organizavome kaip atskirą sąrašą. Ir kiekvienas tas nedidelis sąrašas yra bendro sąrašo elementas.

###Dvimačio sąrašo elementų gavimas ir keitimas

Dvimatį sąrašą galite įsivaizduoti kaip skaičiuoklės lentelę.

| Indeksai  | 0 | 1
|---|---|---
| 0 | Tomas | 180
| 1 | Rimas | 215
| 2 | Rima | 205
| 3 | Sigita | 195

Pasiekti elementus galime naudodami dvigubus indeksus:

In [19]:
studentai = [["Tomas", 180], ["Rimas", 215], ["Rima", 205], ["Sigita", 195]]
print(studentai[0][0], studentai[0][1])
print(studentai[1][0], studentai[1][1])
print(studentai[2][0], studentai[2][1])
print(studentai[3][0], studentai[3][1])

Tomas 180
Rimas 215
Rima 205
Sigita 195

Paprasta, ar ne? Pirmasis indeksas žymi lentelės eilutę, o antrasis - stulpelį. Jei kada susimaišysite - prisiminkite skaičiuoklę :)

Na o dabar pakeiskime elementą. Šį kartą studentę Rimą pakeičiam Maryte:

In [20]:
studentai = [["Tomas", 180], ["Rimas", 215], ["Rima", 205], ["Sigita", 195]]
studentai[2][0] = "Marytė"
studentai[2][1] = 175
print(studentai)

[['Tomas', 180], ['Rimas', 215], ['Marytė', 175], ['Sigita', 195]]

Šį kartą keitėme po vieną elementą, bet jei mums reikia pakeisti visą vidinio sąrašo elementą, galime daryti šitaip:

In [21]:
studentai = [["Tomas", 180], ["Rimas", 215], ["Rima", 205], ["Sigita", 195]]
studentai[2] = ["Marytė", 175]
print(studentai)

[['Tomas', 180], ['Rimas', 215], ['Marytė', 175], ['Sigita', 195]]

##Apibendrinimas
Šį tą sužinojome apie paprastus ir dvimačius sąrašus. Šiek tiek pramokome juos tvarkyti, bet čia dar tik prasidėjo mūsų pažintis su sąrašais!