#Loginiai operatoriai

##Apie loginius operatorius
Loginiai operatoriai dažniausiai naudojami norint patikrinti kelias sąlygas vienu metu, tuo būdu sumažinant kodo kiekį ir jį supaprastinant. Pavyzdžiui:
* Ar naudotojas prisijungęs IR turi atitinkamą rolę?
* Ar failas ARBA tam tikras katalogas egzistuoja?
* Ar studentas turi pinigų bilietui ARBA turi galiojantį LSP?
* Ar skaičius patenka į intervalą (ar skaičius >= pradžia IR <= pabaiga)?
* Ar produktas NE mokamas?

##Loginių operatorių aprašymas
Jei aprašymas ve visai aiškus - pradėkite nuo pavyzdžių ir vėliau sugrįškite čia.

| Operatorius |	Aprašymas	| Pavyzdys
|-------------|-----------|---------
| `and` | True, jeigu abi sąlygos yra True |	`x < 5 and x < 10`
| `or` |	True, jeigu bent viena iš sąlygų yra True |	`x < 5 or x < 4`
| `not` |	atvirkštinė reikšmė | `not 1 < 2`

###and operatorius
`and` Pitono loginis operatorius atlieka dviejų loginių reikšmių, kintamųjų arba išraiškų loginį palyginimą. 

Jei abiejų operatoriaus pusių reikšmės yra `True`, operatorius `and` grąžina `True`. Jei kurios nors iš pusių (arba abiejų pusių) reikšmė yra `False`, operatorius `and` grąžina `False`. 

Jei naudojama ne loginio tipo reikšmė (arba kintamasis, kuriame saugoma reikšmė), Pitone ji visada bus vertinama kaip `True`.

**Teisingumo lentelė**

| `X` | `Y` | `X and Y`
|---|---|--------
| 0 | 0 | 0
| 0 | 1 | 0
| 1 | 0 | 0
| 1 | 1 | 1

| Operacija | Rezultatas
|-----------|-----------
| `False` and `False` | `False`
| `False` and `True` | `False`
| `True` and `False` | `False`
| `True` and `True` | `True`

**Keli pavyzdžiai**

In [3]:
True and True     # Bus True
True and False    # Bus False
False and False   # Bus False
1 == 1 and 1 < 2  # Bus True
1 < 2 and 3 < 1   # Bus False
"Taip" and 100    # Bus True

True

###or operatorius
`or` Pitono loginis operatorius sudeda dvi logines išraiškas ir įvertina `True`, jei bent viena iš išraiškų įvertinama `True`. Priešingu atveju, jei abi išraiškos yra `False`, visa išraiška įvertinama kaip `False`. 

**Teisingumo lentelė**

| `X` | `Y` | `X or Y`
|---|---|--------
| 0 | 0 | 0
| 0 | 1 | 1
| 1 | 0 | 1
| 1 | 1 | 1

| Operacija | Rezultatas
|-----------|-----------
| `False` or `False` | `False`
| `False` or `True` | `True`
| `True` or `False` | `True`
| `True` or `True` | `True`

**Keli pavyzdžiai**

In [ ]:
True or True      # Bus True
True or False     # Bus True
False or False    # Bus False
1 < 2 or 3 < 1    # Bus True
3 < 1 or 1 > 6    # Bus False
1 == 1 or 1 < 2   # Bus True

###ne operatorius
`ne` Pitono loginis operatorius naudojamas loginėje išraiškoje tam, kad būtų gauta išraiškos atvirkštinė reikšmė. Jei pradinė išraiška buvo `True`, panaudojus operatorių `not` išraiška taptų `False`, ir atvirkščiai. 

**Teisingumo lentelė**

| `X` | `not X`
|---|-------
| 0 | 1
| 1 | 0

| Operacija | Rezultatas
|-----------|-----------
| not `False` | `True`
| not `True` | `False`

**Keli pavyzdžiai**

In [2]:
not True     # Bus False
not False    # Bus True
1 > 2        # Bus False
not 1 > 2    # Bus True
1 == 1       # Bus True
not 1 == 1   # Bus False

False

##Pasitikrinkite
Kaip manote, kaip Pitonas įvertins šias išraiškas?

Sugalvokite atsakymus ir norėdami pasitikrinti įvykdykite programą nukomentuodami po vieną eilutę.

In [4]:
#(10 > 9) and (9 > 10)      # = ???
#(10 > 9) or (9 > 10)       # = ???
#not(True)                  # = ???
#(10 > 9) and (not(9 > 10)) # = ???

True

##Pavydžiai

##Priklausymo intervalui patikrinimas

In [5]:
skaicius = int( input('Įveskite skaičių: ') )

if skaicius > 0 and skaicius <= 100:
  print('Skaičius patenka į intervalą [1-100].')
else:
  print('Skaičius nepatenka į intervalą [1-100].')

Įveskite skaičių: 5
Skaičius patenka į intervalą [1-100].

###Teigimas ir dalinasi?

In [6]:
skaicius = 4

if skaicius > 0 and skaicius % 2 == 0:
    print('Skaičius teigiamas ir lyginis.')
elif skaicius > 0 and skaicius % 3 == 0:
    print('Skaičius teigiamas ir dalinasi iš 3.')
else:
    print('Skaičius neigiamas arba nesidalina nei iš 2 nei iš 3.')

Skaičius teigiamas ir lyginis.

###Skaičius, kuris dalinasi iš 2, 3 ir 10

In [7]:
skaicius = 30

if skaicius % 2 == 0 and skaicius % 3 == 0 and skaicius % 10 == 0:
    print('Skaičius dalinasi iš 2, 3 ir 10.')
else:
    print('Nesidalina iš kažkurių skaičių.')

Skaičius dalinasi iš 2, 3 ir 10.

###Ar nelyginis?

In [ ]:
skaicius = 3

if not skaicius % 2 == 0:
    print('Skaičius nelyginis.')
else:
    print('Skaičius lyginis.')

###Išraiškos su skliaustais
Kai reikia nurodyti išraiškų įvertinimo tvarką, naudojam skliaustus.

Šitaip spręstume tokį uždavinį:
Ar skaičius lyginis, ar nelyginis, tačiau toks, kuris dalinasi ir iš 10 ir iš 3.

In [13]:
skaicius = 30

if skaicius % 2 == 0 or (skaicius % 3 == 0 and skaicius % 10) == 0:
    print('Skaičius tenkina sąlygą.')
else:
    print('Skaičius netenkina sąlygos.')

Skaičius tenkina sąlygą.

##Užduotys

###Užduotis 1
Parašykite programą, kuri leistų įvesti tris studento pažymius (pvz.: 1,2,3). Programa turi surasti ir atspausdinti didžiausią studento pažymį. 

Toks uždavinys jau duotas anksčiau. Šį kartą spręskite jį panaudodami loginius operatorius. Pažiūrėkite, kaip pasikeitė programa.

In [ ]:
# Kodą rašykite čia...

###Užduotis 2
Parašykite programą, kuri leistų įvesti tris studento pažymius (pvz.: 1,2,3). Suraskite pažymių vidurkį. Atspausdinkite:
* `Įvertinimai geri`, jei vidurkis intervale [8-10];
* `Įvertinimai prasti`, jei vidurkis intervale [5-7];
* `Įvertinimai blogi`, jei vidurkis < 5

In [ ]:
# Kodą rašykite čia...

###Užduotis 3
Ar skaičius nelyginis ir dalinasi iš 3 ir iš 5, ar lyginis, tačiau toks, kuris dalinasi iš 10 arba iš 4.

Programa turi atspausdinti sąlyga yra tenkinama įvestam skaičiui.

In [ ]:
# Kodą rašykite čia...