[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/blaztoma/pitono-pamokos/blob/main/pamokos/07%20-%20Formatavimas/I%C5%A1vedimo_formatavimas.ipynb)

# Išvedimo formatavimas

Dažnai reikia suskaičiuoti įvairias reikšmes, jas apjungti ir gražiai išvesti. Panagrinėkime kelias galimybes tai padaryti.

Jei naudosime funkciją `print()` ir kintamuosius atskirsime kableliu, tuomet Pitonas pats sudarys eilutę išvedimui:

In [1]:
marke = 'Citroen'
modelis = 'Xsara'
metai = 2002 
rida = 148974

print(marke, modelis, 'buvo pagaminta', metai, 'metais ir nuvažiavo', rida, 'km.')

Citroen Xsara buvo pagaminta 2002 metais ir nuvaziavo 148974 km

Eilutes galima sujungti prieš išvedant. Tai vienas dažniausiai naudojamų būdų. Tiesa, sujungiant eilutes reikia konvertuoti kitų tipų kintamuosius į eilutės tipą. Tam naudojama funkcija `str()`.

In [3]:
marke = 'Citroen'
modelis = 'Xsara'
metai = 2002
rida = 148974

# Šis kodas neveiks (rodys klaidą), nes Pitonas nemokės sujungti eilutės ir skaičiaus.
# Galite šią eilutę nukomentuoti ir pažiūrėti.  
# sakinys = marke + " " + modelis + " buvo pagaminta " + metai + " metais ir nuvažiavo " + rida + " km."

# O šis kodas geras, nes jis konvertuoja skaičius į eilutės tipą
sakinys = marke + " " + modelis + " buvo pagaminta " + str(metai) + " metais ir nuvažiavo " + str(rida) + " km."

print(sakinys)

Citroen Xsara buvo pagaminta 2002 metais ir nuvažiavo 148974 km.

Jei norime išvengti tipų konvertavimo, formuoti tekstinę eilutę galime pasinaudojant `%` formatavimo operaciją. Šis būdas nerekomenduojamas paties Pitono, bet galite pažiūrėti kaip jis atrodo:

In [5]:
marke = 'Citroen'
modelis = 'Xsara'
metai = 2002
rida = 148974

print("%s %s buvo pagaminta %s metais ir nuvažiavo %s km." % (marke, modelis, metai, rida))

Citroen Xsara buvo pagaminta 2002 metais ir nuvažiavo 148974 km.

Šiek tiek geresnis būdas yra `format` naudojimas:

In [7]:
marke = 'Citroen'
modelis = 'Xsara'
metai = 2002
rida = 148974

print("{1} {0} buvo pagaminta {2} metais ir nuvažiavo {3} km.".format(modelis, marke, metai, rida))

Citroen Xsara buvo pagaminta 2002 metais ir nuvažiavo 148974 km.

Naujesniame Pitone (nuo 3.6 versijos) atsirado dar patogesnis ir geresnis būdas formatuoti išvedamą tekstą. Tam naudojamos taip vadinamos f-eilutės (`f""` arba `f''`). Šios f-eilutės yra atsparesnės klaidoms ir greitesnės nei `%` ar `format` būdai. Naudokite jas.

In [4]:
marke = 'Citroen'
modelis = 'Xsara'
metai = 2002
rida = 148974

print(f'{marke} {modelis} buvo pagaminta {metai} metais ir nuvažiavo {rida} km.')

Citroen Xsara buvo pagaminta 2002 metais ir nuvaziavo 148974 km

Ir pabaigai, jei reiktų formatuoti daugelio eilučių tekstą, darykite taip:

In [9]:
marke = 'Citroen'
modelis = 'Xsara'
metai = 2002
rida = 148974

sakinys = f"""
  {marke} {modelis} 
  buvo pagaminta {metai} metais
  ir nuvažiavo {rida} km.'
"""

print(sakinys)

  Citroen Xsara
  buvo pagaminta 2002 metais
  ir nuvaziavo 148974 km'

# Užduotys

## Užduotis 1

Duotas pradinis kodas. Suformatuokite eilutę taip, kad būtų išvedamas toks tekstas:
```
Vardenis Pavardenis (22 m.) mokosi 3-iame kurse, jo vidurkis yra 8.7
```

In [ ]:
vardas = 'Vardenis'
pavarde = 'Pavardenis'
amzius = 22
kursas = 3
vidurkis = 8.7

# šioje vietoje suformuokite eilutę: eilute = ...

print(eilute)

## Užduotis 2

Duotas pradinis kodas. Suformatuokite eilutę taip, kad būtų išvedamas toks tekstas:
```
Mano batai buvo 2
1 dingo - nerandu.
Aš su 1 batuku,
Niekur eiti negaliu.
```
Formatavimui panaudokite daugelio eilučių f-eilutę ir kode duotus kintamuosius.

In [1]:
vienas = 1
du = 2

# šioje vietoje suformuokite eilutę: eilute = ...

print(eilute)

NameError: name 'eilute' is not defined

## Užduotis 3

Išveskite 3x3 dydžio tuščiavidurį kvadratą iš * simbolio. Galutinio rezultato pavyzdys:

```
***
* *
***
```

In [ ]:
# Kodą rašykite čia...

## Užduotis 4

Susikurkite šiuos kintamuosius, saugančius informaciją apie gyvūną: pavadinimas, amžius, kailio spalva, svoris. Išveskite šiuos duomenis gražiai suformatuotus vienoje eilutėje, sakinio forma. Pavyzdžiui:

```
Gyvūnas - šuo (2 m.) turi rudą kailio spalvą ir sveria 1.4 kg.
```

In [ ]:
# Kodą rašykite čia...

## Užduotis 5

Susikurkite skaičiaus kintamąjį, kurį išveskite penkis kartus toje pačioje eilutėje be tarpų tarp šių skaičių. Pavyzdžiui:
skaičius - `25`, išvedimas - `2525252525`

In [ ]:
# Kodą rašykite čia...

## Užduotis 6

Susikurkite skaičiaus kintamąjį, kurį išveskite penkis kartus toje pačioje eilutėje su tarpais tarp šių skaičių. Pavyzdžiui:
skaičius - `25`, rezultatas - `25 25 25 25 25`

In [ ]:
# Kodą rašykite čia...