# Įvedimas iš konsolės

Vienas iš būdų, kaip įvesti duomenis programai - paprašyti naudotojo, kad konsolėje suvestų reikalingą informaciją. Tam naudojama `input()` funkcija.

Kai prašymas įvesti informaciją išvedamas atskirai:

In [1]:
print('Įveskite vardą:')
vardas = input()
print(vardas)

Įveskite vardą:
Tomas
Tomas

Kai prašymas įvesti informaciją išvedamas kartu:

In [2]:
vardas = input('Įveskite vardą:')
print(vardas)

Įveskite vardą:Tomas
Tomas

Kai norime gauti įvestą sveiką skaičių:

In [5]:
skaicius = int(input('Įveskite sveiką skaičių:'))
print(skaicius)

Įveskite sveiką skaičių:20
20

Kai norime gauti įvestą slankaus kablelio skaičių:

In [6]:
skaicius = float(input('Įveskite skaičių:'))
print(skaicius)

Įveskite sveiką skaičių:10.5
10.5

F-eilučių prisiminimui įvesime du skaičius atskirose eilutėse ir juos sudėsime:

In [ ]:
skaicius_1 = input('Įveskite pirmą skaičių')
skaicius_2 = input('Įveskite antrą skaičių')
print(f'{skaicius_1} + {skaicius_2} = {skaicius_1 + skaicius_2}')

Šį kartą įvesime tuos du skaičius vienoje eilutėje.

In [7]:
print('Įveskite du skaičius atskirdami tarpu:')
skaicius_1, skaicius_2 = x, y = input().split()
print(f'{skaicius_1} + {skaicius_2} = {skaicius_1 + skaicius_2}')

Įveskite du skaičius:
2 3
2 + 3 = 23

## Užduotys

### Užduotis 1

Paprašykite naudotojo įvesti savo vardą, amžių ir kodėl panoro išmokti Pitoną. Įvestą informaciją išveskite tvarkingai, vienu sakiniu ar atskirose eilutėse su prierašais.

In [ ]:
# Kodą rašykite čia...

### Užduotis 2

Paprašykite vartotojo įvesti norimą simbolį. Iš šio simbolio atspausdinkite inicialus. Pvz.:
```
*** *
 *  *
 *  ***
```

Užduočiai atlikti galite naudoti daugelio eilučių išvedimą.

In [ ]:
# Kodą rašykite čia...

### Užduotis 3

Paprašykite vartotojo įvesti 5-is savo pažymius vienoje eilutėje. Paskaičiuokite pažymių vidurkį. Išveskite atsakymą.

In [ ]:
# Kodą rašykite čia...

### Užduotis 4

Leiskite naudotojui įvesti metrus. Išveskite kiek tai gaunasi centimetrais, milimetrais ir kilometrais.

In [ ]:
# Kodą rašykite čia...

### Užduotis 5

Vienoje eilutėje įveskite vardą, pavardę ir amžių. Išveskite informaciją vienu sakiniu.

In [8]:
# Kodą rašykite čia...

asdf fdsa 15
15 fdsa 15