[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/blaztoma/pitono-pamokos/blob/main/lectures/06%20-%20Numbers%20and%20math%20-%202%20part/More_numbers_and_math.ipynb)

# Other Mathematical Operations

We already know these mathematical operators:

Operator	| Name | Example | Explanation
------------|-------------|----------|-------------
`+` | Addition | `5 + 3` | Adds `5` and `3`
`-` | Subtraction | `5 - 3` | Subtracts `3` from `5`
`*` | Multiplication | `5 * 3` | Multiplies `5` by `3`
`/` | Division | `5 / 3` | Divides `5` by `3`
`**` | Exponentiation | `5 ** 3` | Raises `5` to the power of `3`
`%` | Modulo | `5 % 3` | Remainder (result: 2)
`//` | Floor Division | `5 // 3` | Integer division (result: 1)

And we know the basic form of assignment to variables:
```
variable = value
```

Often there are situations where a variable needs to be changed. For example, increasing it, decreasing it, or otherwise changing its value. For example, to increase the initial value of variable `variable` by 5, you need to do this:

In [1]:
variable = 5
variable = variable + 5
print(variable)

10

In Python, as in various other programming languages, this can be done more efficiently:

In [2]:
variable = 5
variable += 5
print(variable)

10

Did you notice the difference? As you can see, the difference is the `+=` operation.

## Other Value Modification Operators

`+=` is not the only value modification (in this case - increment) operator. There are several others:

Assignment | Equivalent | Explanation
------------|-----------|----------
`x += y` | `x = x + y` | Variable `x` is increased by `y`
`x -= y` | `x = x - y` | Variable `x` is decreased by `y`
`x *= y` | `x = x * y` | Variable `x` is multiplied by `y` 
`x /= y` | `x = x / y` | Variable `x` is divided by `y` 
`x %= y` | `x = x % y` | Variable `x` is divided by `y` and remainder is taken
`x **= y` | `x = x ** y` | Variable `x` is raised to the power of `y`

Examine the example below and if anything was unclear - it will become clear ðŸ˜€

In [3]:
number = 0
print('= 0:', number)

number += 10
print('+= 10:', number)

number -= 5
print('-= 5:', number)

number *= 2
print('*= 2:', number)

number /= 4
print('/= 4:', number)

= 0: 0
+= 10: 10
-= 5: 5
*= 2: 10
/= 4: 2.5

Here you saw operations with numbers. On the other hand, this operation also applies to other types, for example strings:

In [4]:
text = "This is the first string "
text += "combined with another string."
print(text)

This is the first string combined with another string.

# More Examples

In [5]:
print(5 + 3 * 2)
print(10 - 5 * (7 + 2))

11
-35

In [6]:
answer = 8 * 2 + 4
print(answer)

20

In [7]:
x = 10
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print()

print(x % y)
print(x ** y)
print(x // y)

13
7
30
3.3333333333333335

1
1000
3

In [8]:
a = 5
b = 4

sum_result = a + b
difference = a - b
product = a * b
quotient = a / b

print('a:', a)
print('b:', b)

print('sum:', sum_result)
print('difference:', difference)
print('product:', product)
print('quotient:', quotient)

a: 5
b: 4
sum: 9
difference: 1
product: 20
quotient: 1.25

In [9]:
a = 5
b = 4

sum_result = a + b
difference = a - b
product = a * b
quotient = a / b

print(f'{a} + {b} = {sum_result}')
print(f'{a} - {b} = {difference}')
print(f'{a} * {b} = {product}')
print(f'{a} / {b} = {quotient}')

5 + 4 = 9
5 - 4 = 1
5 * 4 = 20
5 / 4 = 1.25

In [10]:
a = 5
b = 4

print(f'{a} + {b} = {a + b}')
print(f'{a} - {b} = {a - b}')
print(f'{a} * {b} = {a * b}')
print(f'{a} / {b} = {a / b}')

5 + 4 = 9
5 - 4 = 1
5 * 4 = 20
5 / 4 = 1.25

In [11]:
num1 = 11
num2 = 7

print(num1 / num2)
print(num1 % num2)

1.5714285714285714
4

In [12]:
a = 5
b = 7

c = a + b * 2
d = a + c

print(a)
print(b)
print(c)
print(d)

5
7
19
24

In [13]:
number = 15
print(number)

number = 1
print(number)

number = number + 2
print(number)

number = 0
print(number)

number += 5
print(number)

15
1
3
0
5

In [14]:
first = 5
second = 2

print(first)
print(second)

first += 5 * second

print(first)

5
2
15

# Tasks

## Task 1

Given initial code. Replace the `?` so that the result is `125`.

In [10]:
result = 5
result ?= 2
result ?= 5
result ?= 3
print(result)

125

## Task 2

Create two variables to store numbers. Assign any numbers you want to them. Create a third variable whose value would be the sum of the first two variables. Output all variables.

In [ ]:
# Write your code here...

## Task 3

Create three variables to store numbers. Assign any numbers you want to them. Find the sum, difference, product, and quotient of these numbers. Output the answers along with the operation being performed (e.g., 8 + 2 + 4 = 14).

In [ ]:
# Write your code here...

## Task 4

Create two variables to store numbers. Assign any numbers you want to them. Increase the first variable by 5. Increase the second variable by 2 times (multiply by 2). Output all answers (initial values and changed values).

In [ ]:
# Write your code here...