# Skaičiai ir matematika

## Pagrindiniai skaičių tipai

int (integer)      | float (floating point)
-------------------|------------------
8 | 8.5
10 | 10.0
-5 | -5.5

Atkreipkite dėmesį į tai, kad norėdami Pitonui parodyti, jog kintamasis yra float tipo, turime skaičių rašyti su kableliu, net jei jis ir neturi trupmeninės dalies.

## Matematiniai operatoriai

Operatorius	| Pavadinimas |	Pavyzdys | Paaiškinimas
------------|-------------|----------|-------------
`+` | Sudėtis | `5 + 3` | Sudeda `5` ir `3`
`-` | Atimtis | `5 - 3` | Atima `3` iš `5`
`*` | Daugyba | `5 * 3` | Sudaugina `5` iš `3`
`/` | Dalyba | `5 / 3` | Padalina `5` iš `3`
`**` | Laipsnis | `5 ** 3` | Pakelia `5` laipsniu `3`
`%` | Modulis | `5 % 3` | Liekana (ats. 2)
`//` | Dalyba | `5 // 3` | Sveiko skaičiaus dalyba (ats. 1)

## Pavyzdžiai

### Skaičių išvedimas

In [1]:
print(12)
print(5)
print(8.2)

12
5
8.2

## Paprasčiausios sveikų skaičių operacijos

In [2]:
print(7 + 8)
print(2 * 4)
print(5 - 1)
print(7 / 3)

15
8
4
2.3333333333333335

### Paprasčiausios racionalių skaičių operacijos

In [ ]:
print(5.2 + 1.4)
print(8 - 1.5)
print(1 / 2)
print(1 / 3)

### Kėlimas laipsniu

In [3]:
print(2 ** 3)
print(4 ** 8)
print(49 ** 0.5)

8
65536
7.0

### Modulio operacija

In [4]:
print(10 % 3)
print(25 % 4)
print(13 % 2)
print(16 % 2)
print(8 % 2)

1
1
1
0
0

### Dalyba ir sveikoji dalyba

In [ ]:
print(10 / 3)
print(10 // 3)
print(6 / 7)
print(6 // 7)

### Veiksmų tvarka

In [7]:
print(1 + 2 * 5 / 3)
print( (1 + 2) * 5 / 3 )

4.333333333333334
5.0

### Koks tipas?

Norint pamatyti, kokį skaičiaus tipą sugalvos Pitonas, reikia naudoti funkciją `type()`. Pradžioje pamėginkite nuspėti tipą, o po to paleiskite programą.

In [9]:
print(type(5))
print(type(5.0))
print(type(5 * 3))
print(type(5 / 3))
print(type(5 // 3))
print(type(5 ** 3))
print(type(5 % 3))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'int'>

## Užduotys

### Užduotis 1

Atskirose eilutėse išveskite skaičius `15`, `12`, `-9` ir `5.8`.

In [ ]:
# Kodą rašykite čia...

### Užduotis 2

Išveskite šių matematinių veiksmų atsakymus:

* 78 * 2
* 5 + 3
* 7 / 2
* 85 - 32

In [ ]:
# Kodą rašykite čia...

### Užduotis 3

Išveskite šių matematinių veiksmų atsakymus:
* 5.2 * 3
* 9.4 * 0.5
* 4.2 / 2

In [ ]:
# Kodą rašykite čia...

### Užduotis 4

Išveskite šių matematinių veiksmų atsakymus:
* 7 + 2 * 3
* (7 + 2) * 3
* 52 + 74 + 32
* 87 - 65 + 14
* 79 / (5 - 2)

In [ ]:
# Kodą rašykite čia...

### Užduotis 5

Apskaičiuokite išveskite šiuos atsakymus (naudojant `**` operatorių):
* skaičių 2 pakeltą 4-u laipsniu
* skaičių 8 pakeltą 3-u laipsniu
* skaičių 14 pakeltą 0.5-io laipsnio

In [ ]:
# Kodą rašykite čia...

### Užduotis 6

Raskite skaičiaus 10 padalinto iš mažesnių skaičių liekanas (naudojant `%` operatorių). Tai yra (10 iš 1, 10 iš 2 ir t.t.).

In [ ]:
# Kodą rašykite čia...

### Užduotis 7

Atlikite sveiko skaičiaus dalybą su šiais skaičiais:
* 5 iš 2
* 6 iš 3
* 6 iš 4
* 80 iš 3
* 45 iš 4
* 45 iš 3

In [ ]:
# Kodą rašykite čia...

### Užduotis 8

Išsiaiškinkite duomenų tipus (panaudokite `type()`) šiems atvejams:
* jeigu yra skaičius 6
* jeigu yra skaičius 2.5
* jeigu yra skaičius 157
* jeigu yra skaičius -8.2
* jeigu yra dalyba 2 iš 5
* jeigu yra sudėtis 8 su 9
* jeigu yra sudėtis 8.5 su 3

In [ ]:
# Kodą rašykite čia...